

.fog_image1{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: fog2 40s linear infinite;
}

.fog_image2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

    animation: fog2 40s linear infinite;
}

.fog{
    min-width:400%;
    animation: fog-layer-opacity-1 10s linear infinite, fog-layer-move 20s linear infinite;
}

.skills{
    animation: translateX 14s linear infinite  ;
}


@keyframes fog2 {
    0%{
        transform: translateX(0vw);
    }
    100%{
        transform: translateX(-50%);
     
    }
    /* 100%{
        transform: translateX(0vw);
    } */
}


@keyframes translateX {
    0%{
        transform: translateX(100%);
        
    }
    100%{
        transform: translateX(-180%);
        opacity: 1
    }
}



@keyframes fog-layer-opacity-1 {
    0% {
        opacity: .1
    }

    22% {
        opacity: .5
    }

    40% {
        opacity: .28
    }

    58% {
        opacity: .4
    }

    80% {
        opacity: .16
    }

    to {
        opacity: .1
    }
}

@keyframes fog-layer-opacity-2 {
    0% {
        opacity: .5
    }

    25% {
        opacity: .2
    }

    50% {
        opacity: .1
    }

    80% {
        opacity: .3
    }

    to {
        opacity: .5
    }
}

@keyframes fog-layer-opacity-3 {
    0% {
        opacity: .8
    }

    27% {
        opacity: .2
    }

    52% {
        opacity: .6
    }

    68% {
        opacity: .3
    }

    to {
        opacity: .8
    }
}

@keyframes fog-layer-move {
    0% {
        transform: translateX(0)
    }

    to {
        transform: translateX(-50%)
    }
}

